* {
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row-header {
    justify-content: space-between;
    align-items: center;
}

.row-main {
    justify-content: space-between;
}

/* -----HEADER----- */


.header-nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 80%;
}

.header-nav nav {
    width: inherit;
}

.header-nav ul  {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-nav nav a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    color: #111111;
}

.header_lang {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 26px;
}

.header_lang span {
    display: inline-block;
    background-color: #aeaeae;
    width: 28px;
    height: 28px;
    border-radius: 30px;
}

.header_lang select {
    border: none;
    font-size: 12px;
    font-weight: 700;
}


/* -------MAIN------ */

main h4 {
    font-size: 14px;
    padding: 30px 0 8px;
    color: #050505;
}

.content {
    flex-basis: 914px;
}

.content-wrapper {
    background-color: #aeaeae;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 48px;
}

.content-wrapper img {
    margin-top: 40px;
}

.name-content h1 {
    color: #050505;
    font-weight: 900;
    font-size: 23px;
    margin-top: 40px;
}

.content h2 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.content p {
    color: #333333;
    font-size: 12px;
    line-height: 22px;
    margin-top: 36px;
}


/* ------FOOTER------- */

footer {
    margin: 70px 0;
}

footer address,footer span ,footer a,footer p{
    font-size: 12px;
    font-weight: 900;
    color: #000000;
    line-height: 22px;
}


.call,.email-media {
    display: flex;
}

.call {
    align-items: baseline;
}


.social-media {
    margin-left: 66px;
}